/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color for the entire page */
body {
    background-color: orange;
    font-family: Arial, sans-serif;
}

/* Center the form */
.div {
    text-align: center;
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
}

/* Style the form header */
.form h1,h1 {
    font-size: 24px;
    color: blue;
}

/* Style the form elements */
.label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color:#007BFF
}
.input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Style the submit button */
.button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
